************************TAG SELECTOR*********************************
background-color{
	color: red;
}

hr{
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 2px;
	width: 2%;
	
}

	h1{
		color: blue;
	}
	h3{
		color: green;
	}

/*	
img {
	background-color: red;
}
*/

**********************************CLASS SELECTOR************************************
.bacon {
	background-color: green;
}
.broccoli {
	background-color: red;
}